# 🌐 Configuração do servidor
NODE_ENV=
PORT=Minha.porta

# ✉️ SMTP - usar Ethereal (gratuito)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=porta.smtp
SMTP_USER=usuario.smtp
SMTP_PASS=senha.smtp
SMTP_SECURE=boolean.smtp

# 👤 Remetente padrão
MAIL_FROM_NAME=MeuApp Teste
MAIL_FROM_EMAIL=email.smtp

# 🌍 URL base da aplicação
APP_BASE_URL=url.app
